# config/backupRestoreInputConfig.yaml

s3BucketName: "backup-restore-automation-test"      
s3FolderName: "rancher-backups/"              
s3Region: "S3_REGION"                         
s3Endpoint: "<S3_ENDPOINT>"                   
volumeName: ""                                
credentialSecretName: "<CREDENTIAL_SECRET_NAME>"      
credentialSecretNamespace: "default"          
tlsSkipVerify: true                                     # Whether to skip TLS verification
endpointCA: ""                                
deleteTimeoutSeconds: 300                               # Timeout for deletion
retentionCount: 10                                      # Number of backups to retain
prune: true                                             # Whether to prune old backups
resourceSetName: "rancher-resource-set"       
encryptionConfigSecretName: ""                
schedule: ""                                  
accessKey: "<ACCESS_KEY>"                    
secretKey: "<SECRET_KEY>"
